


.card{
    width: 18em;
    margin: 16px;
}

svg{
    color: gold;
}

.cardBottom{
    display: flex;
    justify-content: space-between;
}

.btnColor{
    background-color: forestgreen !important;
}